@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PB-JAW LSU Mapplication</h1>
    To start using this application press the "Start" button below. 
    <div role="button">
        <a class="btn btn-primary" asp-controller="Map" asp-action="MapBuilder" asp-route-numMaps="2">Start</a>
    </div>
</div>
