@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a class="btn-lg" asp-controller="Map" asp-action="MapBuilder" asp-route-numMaps="2">Start</a>

</div>
