@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h1>About Us </h1>

    <p>This application was created to assist people on finding their way around campus.</p>
    
        <div class="text-mid-left"><h3>Developers </h3> </div>

            <li> Anthony Shaidaee </li>
            <li> Brennen Calato </li>
            <li> Josh</li>
            <li> Josh (Doof)</li>
            <li> Patrick</li>
            <li> William Jackson</li>
            
    <br />
    <a href="https://github.com/ashaid/PB-JAW">View the source code. </a>
</div>
