@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h2> Mapplication </h2>
<br />
<div>

    <p><font size="5"> This application was developed to help guide students across campus to their classrooms while also providing a time for their arrival. Using Mapplication will help students be able to see their specific classrooms in building that might seem overwhelming at first. This application is useful for all ages who attend the university as a student or faculty member might have to be in a classroom in a building they've never been before.</font></p>
    <br /> <br />
        <div class="text-mid-left"><h2>Developers </h2> </div> <br />


            <li><font size="4"> Anthony Shaidaee (ashaid2@lsu.edu)</font></li>
            <li><font size="4"> Brennen Calato (bcalat1@lsu.edu)</font></li>
            <li><font size="4"> Josh Dufrechou (jdufr14@lsu.edu)</font></li>
            <li><font size="4"> Josh Rovira (jrovir8@lsu.edu)</font></li>
            <li><font size="4"> Patrick Gandy (pgandy4@lsu.edu)</font></li>
            <li><font size="4"> William Jackson (wjack32@lsu.edu)</font></li>
            
    <br />
    <a href="https://github.com/ashaid/PB-JAW">View the source code. </a>
</div>
