@model PB_JAW.Models.TemplateModelMap
@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Results:</h1>
<div label="map-1">
    Starting Map
    @TempData["BuildingName0"].ToString()
    @Model.Maps[0].RoomNumber
</div>

<div label="map-2">
    Destination Map
    @TempData["BuildingName1"].ToString()
    @Model.Maps[1].RoomNumber
</div>

