@model PB_JAW.Models.TemplateModelMap
@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--------------------------------------------------------------------------------------------------------------------------
    This is a work around fix. If the user creates a map and clicks the "back arrow" on the browser the application will be 
    confused because it cannot properly instantiate/close python.
--------------------------------------------------------------------------------------------------------------------------->
<META Http-Equiv="Cache-Control" Content="no-cache" />
<META Http-Equiv="Pragma" Content="no-cache" />
<META Http-Equiv="Expires" Content="0" />

<h1>Results:</h1>
<div class="col">
    <div label="map-1" class="col=1">
        Starting Map
        @if (TempData["Map0"].ToString() != "No starting location selected")
        {
            <img class="img-fluid" src="@Url.Content("~/created/" + @TempData["Map0"])" alt="map 1" />
        }
        else
        {
            <p>No starting location selected</p>
        }

    </div>

    Destination Map
    <div label="map-1" class="col=1">
        <img class="img-fluid" src="@Url.Content("~/created/" + @TempData["Map1"])" alt="map 2" />
    </div>
</div>


