@model PB_JAW.Models.TemplateModelMap
@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Results:</h1>
<div label="map-1">
    Starting Map
    <img class="fluid" src="@Url.Content("~/created/" + @TempData["Map0"])" alt="map 1" />
    
</div>

<div label="map-2">
    Destination Map
</div>

