@model PB_JAW.Models.TemplateModelMap
@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Results:</h1>
<div class="col">
    <div label="map-1" class="col=1">
        Starting Map
        <img class="img-fluid" src="@Url.Content("~/created/" + @TempData["Map0"])" alt="map 1" />
    </div>

    Destination Map
    <div label="map-1" class="col=1">
        <img class="img-fluid" src="@Url.Content("~/created/" + @TempData["Map1"])" alt="map 2" />
    </div>
</div>


