@import "https://fonts.googleapis.com/css?family=Comfortaa:200,300,400,700";

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #FF550B;
    --secondary: #303030;
    --success: #015668;
    --info: #0F81C7;
    --warning: #0DE2EA;
    --danger: #FF304F;
    --light: #e8e8e8;
    --dark: #000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

*, ::before, ::after {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ccc;
    text-align: left;
    background-color: #000
}

[tabindex="-1"]:focus {
    outline: 0 !important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

abbr[title], abbr[data-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem
}

    ol ol, ul ul, ol ul, ul ol {
        margin-bottom: 0
    }

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

dfn {
    font-style: italic
}

b, strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

a {
    color: #f0f0f0;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

    a:hover {
        color: #bdbdbd;
        text-decoration: underline
    }

    a:not([href]):not([tabindex]) {
        color: inherit;
        text-decoration: none
    }

        a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
            color: inherit;
            text-decoration: none
        }

        a:not([href]):not([tabindex]):focus {
            outline: 0
        }

pre, code, kbd, samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar
}

figure {
    margin: 0 0 1rem
}

img {
    vertical-align: middle;
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom
}

th {
    text-align: inherit
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

    button:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color
    }

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button
}

    button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
        padding: 0;
        border-style: none
    }

input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    -webkit-appearance: listbox
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none
}

    [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none
    }

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item;
    cursor: pointer
}

template {
    display: none
}

[hidden] {
    display: none !important
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-family: Comfortaa;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

h1, .h1 {
    font-size: 2.5rem
}

h2, .h2 {
    font-size: 2rem
}

h3, .h3 {
    font-size: 1.75rem
}

h4, .h4 {
    font-size: 1.5rem
}

h5, .h5 {
    font-size: 1.25rem
}

h6, .h6 {
    font-size: 1rem
}

.lead {
    font-size: 1.25rem;
    font-weight: 300
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1)
}

small, .small {
    font-size: 80%;
    font-weight: 400
}

mark, .mark {
    padding: .2em;
    background-color: #fcf8e3
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline {
    padding-left: 0;
    list-style: none
}

.list-inline-item {
    display: inline-block
}

    .list-inline-item:not(:last-child) {
        margin-right: .5rem
    }

.initialism {
    font-size: 90%;
    text-transform: uppercase
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d
}

    .blockquote-footer::before {
        content: "\2014 \00A0"
    }

.img-fluid {
    max-width: 100%;
    height: auto
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    max-width: 100%;
    height: auto
}

.figure {
    display: inline-block
}

.figure-img {
    margin-bottom: .5rem;
    line-height: 1
}

.figure-caption {
    font-size: 90%;
    color: #6c757d
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word
}

a > code {
    color: inherit
}

kbd {
    padding: .2rem .4rem;
    font-size: 87.5%;
    color: #fff;
    background-color: #212529;
    border-radius: .2rem;
    box-shadow: inset 0 -.1rem 0 rgba(0,0,0,0.25)
}

    kbd kbd {
        padding: 0;
        font-size: 100%;
        font-weight: 700;
        box-shadow: none
    }

pre {
    display: block;
    font-size: 87.5%;
    color: #212529
}

    pre code {
        font-size: inherit;
        color: inherit;
        word-break: normal
    }

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent
}

    .table th, .table td {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid rgba(255,255,255,0.3)
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid rgba(255,255,255,0.3)
    }

    .table tbody + tbody {
        border-top: 2px solid rgba(255,255,255,0.3)
    }

    .table .table {
        background-color: #000
    }

.table-sm th, .table-sm td {
    padding: .3rem
}

.table-bordered {
    border: 1px solid rgba(255,255,255,0.3)
}

    .table-bordered th, .table-bordered td {
        border: 1px solid rgba(255,255,255,0.3)
    }

    .table-bordered thead th, .table-bordered thead td {
        border-bottom-width: 2px
    }

.table-borderless th, .table-borderless td, .table-borderless thead th, .table-borderless tbody + tbody {
    border: 0
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,0.05)
}

.table-hover tbody tr:hover {
    background-color: rgba(255,255,255,0.075)
}

.table-primary, .table-primary > th, .table-primary > td {
    background-color: #ffcfbb
}

.table-hover .table-primary:hover {
    background-color: #ffbda2
}

    .table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
        background-color: #ffbda2
    }

.table-secondary, .table-secondary > th, .table-secondary > td {
    background-color: #c5c5c5
}

.table-hover .table-secondary:hover {
    background-color: #b8b8b8
}

    .table-hover .table-secondary:hover > td, .table-hover .table-secondary:hover > th {
        background-color: #b8b8b8
    }

.table-success, .table-success > th, .table-success > td {
    background-color: #b8d0d5
}

.table-hover .table-success:hover {
    background-color: #a8c5cc
}

    .table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
        background-color: #a8c5cc
    }

.table-info, .table-info > th, .table-info > td {
    background-color: #bcdcef
}

.table-hover .table-info:hover {
    background-color: #a7d1ea
}

    .table-hover .table-info:hover > td, .table-hover .table-info:hover > th {
        background-color: #a7d1ea
    }

.table-warning, .table-warning > th, .table-warning > td {
    background-color: #bbf7f9
}

.table-hover .table-warning:hover {
    background-color: #a4f4f7
}

    .table-hover .table-warning:hover > td, .table-hover .table-warning:hover > th {
        background-color: #a4f4f7
    }

.table-danger, .table-danger > th, .table-danger > td {
    background-color: #ffc5ce
}

.table-hover .table-danger:hover {
    background-color: #ffacb8
}

    .table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
        background-color: #ffacb8
    }

.table-light, .table-light > th, .table-light > td {
    background-color: #f9f9f9
}

.table-hover .table-light:hover {
    background-color: #ececec
}

    .table-hover .table-light:hover > td, .table-hover .table-light:hover > th {
        background-color: #ececec
    }

.table-dark, .table-dark > th, .table-dark > td {
    background-color: #b8b8b8
}

.table-hover .table-dark:hover {
    background-color: #ababab
}

    .table-hover .table-dark:hover > td, .table-hover .table-dark:hover > th {
        background-color: #ababab
    }

.table-active, .table-active > th, .table-active > td {
    background-color: rgba(0,0,0,0.075)
}

.table-hover .table-active:hover {
    background-color: rgba(0,0,0,0.075)
}

    .table-hover .table-active:hover > td, .table-hover .table-active:hover > th {
        background-color: rgba(0,0,0,0.075)
    }

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: rgba(255,255,255,0.3)
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: rgba(255,255,255,0.3)
}

.table-dark {
    color: #fff;
    background-color: #212529
}

    .table-dark th, .table-dark td, .table-dark thead th {
        border-color: rgba(255,255,255,0.3)
    }

    .table-dark.table-bordered {
        border: 0
    }

    .table-dark.table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(255,255,255,0.05)
    }

    .table-dark.table-hover tbody tr:hover {
        background-color: rgba(255,255,255,0.075)
    }

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

        .table-responsive-sm > .table-bordered {
            border: 0
        }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

        .table-responsive-md > .table-bordered {
            border: 0
        }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

        .table-responsive-lg > .table-bordered {
            border: 0
        }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

        .table-responsive-xl > .table-bordered {
            border: 0
        }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

    .table-responsive > .table-bordered {
        border: 0
    }

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media screen and (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffae8b;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 0 .2rem rgba(255,85,11,0.25)
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ccc;
    opacity: 1
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px)
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #000
}

.form-control-file, .form-control-range {
    display: block;
    width: 100%
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5
}

.col-form-label-lg {
    padding-top: calc(0.5rem + 1px);
    padding-bottom: calc(0.5rem + 1px);
    font-size: 1.25rem;
    line-height: 1.5
}

.col-form-label-sm {
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
    font-size: .875rem;
    line-height: 1.5
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: .375rem;
    padding-bottom: .375rem;
    margin-bottom: 0;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0
}

    .form-control-plaintext.form-control-sm, .input-group-sm > .form-control-plaintext.form-control, .input-group-sm > .input-group-prepend > .form-control-plaintext.input-group-text, .input-group-sm > .input-group-append > .form-control-plaintext.input-group-text, .input-group-sm > .input-group-prepend > .form-control-plaintext.btn, .input-group-sm > .input-group-append > .form-control-plaintext.btn, .form-control-plaintext.form-control-lg, .input-group-lg > .form-control-plaintext.form-control, .input-group-lg > .input-group-prepend > .form-control-plaintext.input-group-text, .input-group-lg > .input-group-append > .form-control-plaintext.input-group-text, .input-group-lg > .input-group-prepend > .form-control-plaintext.btn, .input-group-lg > .input-group-append > .form-control-plaintext.btn {
        padding-right: 0;
        padding-left: 0
    }

.form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-prepend > .input-group-text, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-append > .btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]), .input-group-sm > .input-group-prepend > select.input-group-text:not([size]):not([multiple]), .input-group-sm > .input-group-append > select.input-group-text:not([size]):not([multiple]), .input-group-sm > .input-group-prepend > select.btn:not([size]):not([multiple]), .input-group-sm > .input-group-append > select.btn:not([size]):not([multiple]) {
    height: calc(1.8125rem + 2px)
}

.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-prepend > .input-group-text, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-append > .btn {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem
}

select.form-control-lg:not([size]):not([multiple]), .input-group-lg > select.form-control:not([size]):not([multiple]), .input-group-lg > .input-group-prepend > select.input-group-text:not([size]):not([multiple]), .input-group-lg > .input-group-append > select.input-group-text:not([size]):not([multiple]), .input-group-lg > .input-group-prepend > select.btn:not([size]):not([multiple]), .input-group-lg > .input-group-append > select.btn:not([size]):not([multiple]) {
    height: calc(2.875rem + 2px)
}

.form-group {
    margin-bottom: 1rem
}

.form-text {
    display: block;
    margin-top: .25rem
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}

    .form-row > .col, .form-row > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px
    }

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem
}

    .form-check-input:disabled ~ .form-check-label {
        color: #6c757d
    }

.form-check-label {
    margin-bottom: 0
}

.form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem
}

    .form-check-inline .form-check-input {
        position: static;
        margin-top: 0;
        margin-right: .3125rem;
        margin-left: 0
    }

.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #015668
}

.valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(1,86,104,0.8);
    border-radius: .2rem
}

.was-validated .form-control:valid, .form-control.is-valid, .was-validated
